*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
  
   width:auto;
 height: 1030px;
    gap: 70px;
    padding: 20px;

}
.img{
    height: 400px;
    width:auto;


} 
.title{
    color: #333;
font-size: 64px;
font-weight: 700;

width: 586px;


}
.para{
    color: #4F4F4F;
    font-size: 24px;
    
    font-weight: 400;
    
    width: 381px;
    margin-top: 30px;
    
}
.bttn{
    color: #FFF;
font-size: 14px;
font-weight: 700;
line-height: normal;
width: 216px;
height: 68px;
background-color: #333333;
margin-top: 40px;

}
@media screen and (max-width:576px){
    .container{
        flex-direction: column;
        padding-left:24px;
    }
    .img{
    height: 300px;
    width:auto;}
    .title{
    color: #333;
font-size: 64px;
font-weight: 700;
width:350px;

    

}
}